

.body 
{
    margin:auto;
    background-color:#EFEFEF;
    box-shadow: 0 0 6px rgba(0,0,0,0.5); 
    /* font-size:19px; */
}

@media (min-width: 800px) 
{
    .body 
    {
        width:800px;
    }
}


.navbar-link , .navbar-link-active
{
    padding: 5px 0px 5px 0px;
    text-decoration:none;
    font-size: 12px;
}

a.navbar-link:hover, a.navbar-link:active , .navbar-link-active
{
    text-decoration:none;
    color:#E1E4EA;
}


